<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Шаблон</h1>
    {{key}}
    {% include "main/nav.html.twig" %}
</body>
</html>